#mypage-main-wrapper {
  padding-top: 50px;
  display: flex;
  gap:40px;
  width: 1100px;
  margin: 0 auto;
}

#mypage-main-wrapper .sidebar-container{
  display: flex;
  flex-direction: column;
  width: 220px;
}

#mypage-main-wrapper .sidebar-container .button{
  width: 180px;
  height: 40px;
  background-color: rgba(24,50,81,1);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--White);
  font-size: 18px;
  font-weight: bold;
}

#mypage-main-wrapper .sidebar-container .categories{
  display: flex;
  padding: 29px 22px;
  flex-direction: column;
  gap: 18px;
  letter-spacing: 0.3px;
}

#mypage-main-wrapper .sidebar-container .categories .title{
  font-size: 16px;
  font-weight: bold;
}

#mypage-main-wrapper .sidebar-container .categories .sub-title{
  display: flex;
  margin-bottom: 2px;
  
  flex-direction: column;
  gap: 13px;
  font-size: 13px;
}

#mypage-main-wrapper .contents-container{
  display: flex;
  flex-direction: column;
}

#mypage-main-wrapper .contents-container .titie-area{
  display: flex;
  align-items: center;
  gap: 47px;
  margin-left: 10px;
  height: 40px;
}

#mypage-main-wrapper .contents-container .titie-area .title{
  font-size: 35px;
}



