#group-buying-main-wrapper {
  padding-top: 50px;
  display: flex;
  gap:90px;
  width: 1260px;
  margin: 0 auto;
}

#group-buying-main-wrapper .body{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 70px;
}

#group-buying-main-wrapper .body .select-bar{
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: grey;
  border-radius: 12px;
  margin-bottom: 50px;
  overflow: hidden; /* 자식이 radius 밖으로 나가는 것 방지 */
}


#group-buying-main-wrapper .body .select-bar .content{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

#group-buying-main-wrapper .body .select-bar .content.active{
  color: var(--Primary);
  font-weight: bold;
  background-color: white;
}

#group-buying-main-wrapper .body .product-list-table .tr{
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgb(197, 193, 193);
}

#group-buying-main-wrapper .body .product-list-table .tr:first-child{
  background-color: antiquewhite;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: bold;
}

#group-buying-main-wrapper .body .product-list-table .tr:first-child *{
  border-right: 2px solid antiquewhite;

}

#group-buying-main-wrapper .body .product-list-table .tr .date{
  flex:1.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

#group-buying-main-wrapper .body .product-list-table .tr .detail-box{
  flex:6;
}

#group-buying-main-wrapper .body .product-list-table .tr .quantity{
  flex:0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}


#group-buying-main-wrapper .body .product-list-table .tr .amount{
  flex:1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#group-buying-main-wrapper .body .product-list-table .tr .order-number{
  flex:1.8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#group-buying-main-wrapper .body .product-list-table .td.detail-box{
  display: flex;
  gap: 20px;
} 

#group-buying-main-wrapper .body .product-list-table .td{
  height: 130px;
  border-right: 2px solid rgb(197, 193, 193);
} 

#group-buying-main-wrapper .td.detail-box .picture{
  width: 130px;
  height: 130px;
  padding-left: 10px;
}

#group-buying-main-wrapper .td.detail-box .text-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  font-size: 14px;
  padding: 20px 15px;
}

.td.detail-box .text-box .title,
.td.detail-box .text-box .content
{
  font-weight: bold;
}

.td.detail-box .text-box .summary{
  color: aquamarine;
}

.review-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 22px;
  background-color: brown;
  border-radius: 10px;
}