#need-helper-main-wrapper {
  padding-top: 50px;
  display: flex;
  gap:60px;
  width: 1260px;
  margin: 0 auto;
}

#need-helper-main-wrapper .contents-wrapper{
  display: flex;
  width: 1040px;
  flex-direction: column;
}

#need-helper-main-wrapper .contents-wrapper .title-area{
  display: flex;
  align-items: center;
  gap:24px;
}

#need-helper-main-wrapper .contents-wrapper .title-area .title{
  font-size: 35px;
  font-weight: bold;
}

#need-helper-main-wrapper .contents-wrapper .title-area .current{
  border-top: 4px solid;
  padding: 2px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#need-helper-main-wrapper .contents-wrapper .title-area .current.active{
  border-top: 4px solid var(--Primary);
  color: var(--Primary);
}

.need-helper-hr {
  height: 2px;           
  width: 100%;            
  background-color: #333; 
  border: none;         
  margin: 13px auto;    
  border-radius: 2px;  
}

#need-helper-main-wrapper .contents-wrapper .need-helper-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-amount{
  font-size: 16px;
  font-weight: bold;
}

#need-helper-main-wrapper .contents-wrapper .write-button{
  margin-right: 27px;
  color: gray;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list{
  display: flex;
  flex-direction: column;
}


#need-helper-main-wrapper .contents-wrapper .need-helper-list .tr{
  display: flex;
  height: 55px;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .tr:first-child{
  background-color: rgb(199, 199, 199);
  height: 40px;
  border-top: 2px solid rgb(71, 71, 71);
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .tr:last-child{
  border-bottom: 2px solid rgb(71, 71, 71);
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .date{
  flex: 1.4;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .title{
  flex: 4.9;
  text-align: start;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .time{
  flex: 1.1;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .applicants{
  flex: 0.9;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list .comments{
  flex: 0.9;
  padding-right: 8px;
}

#need-helper-main-wrapper .contents-wrapper .need-helper-list {
  text-align: left;
}

#need-helper-main-wrapper .contents-wrapper .pagination{
  margin-top: 30px;
  text-align: center;
}



