#layout-wrapper {
  background-color: var(--White);
  min-width: 1440px;
  min-height: 1080px;
}

#top-bar {
  display: flex;
  justify-content: space-between;

  width: 1240px;
  margin: 0 auto;
  height: 120px;
  padding: 10px 10px;

  border-bottom: 2px solid var(--Lightmode-Grey2);
}

#top-bar .navigation {
  display: flex;  
  align-items: end;
  gap: 80px; 
}

#top-bar .navigation>.logo {
  margin: 0;
  background-image: url(src/assets/images/logo.png);
  background-size: 100% 100%;
  width: 80px;
  height: 110px;
}

#top-bar .navigation>.navigation-list {
  display: flex;
  gap: 50px;
}

#top-bar .navigation>.navigation-list>.navigation-list-item {
  color: var(--Lightmode-Grey);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 200%;
  cursor: pointer;
}

#top-bar .navigation>.navigation-list>.navigation-item.active {
  color: var(--Primary);

  cursor: default;
}

#top-bar .my-content {
  display: flex;
  cursor: pointer;
  align-items: end;
  gap: 20px;
}

#top-bar .my-content .my-alert-list {
  position: absolute;
  
  width: 300px;
  height: 100px;

  border: 1px solid;

  background-color: var(--White);
}


#top-bar .my-content .login-container {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  border: solid 1px var(--Lightmode-Grey2);
  padding: 7px;
  cursor: pointer;
} 

#top-bar .login-container .login-icon {
  width: 25px;
  height: 25px;
  
  background-color: #4395d9;

  border-radius: 50%;
}

#top-bar .login-container .login-content {
  padding-left: 7px;
}