#faq-main-wrapper {
  padding-top: 50px;
  display: flex;
  gap:60px;
  width: 1260px;
  margin: 0 auto;
}

#faq-main-wrapper .sidebar-container{
  display: flex;
  flex-direction: column;
  width: 180px;
}

#faq-main-wrapper .sidebar-container .button{
  width: 180px;
  height: 40px;
  background-color: rgba(24,50,81,1);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--White);
  font-size: 18px;
  font-weight: bold;
}

#faq-main-wrapper .sidebar-container .categories{
  display: flex;
  padding: 29px 22px;
  flex-direction: column;
  gap: 18px;
  letter-spacing: 0.3px;
}

#faq-main-wrapper .sidebar-container .categories .title{
  font-size: 16px;
  font-weight: bold;
}

#faq-main-wrapper .sidebar-container .categories .sub-title{
  display: flex;
  margin-bottom: 2px;
  
  flex-direction: column;
  gap: 7px;
  font-size: 13px;
}

#faq-main-wrapper .sidebar-container .categories .sub-text{
  margin-left: 10px;
}

#faq-main-wrapper .contents-wrapper{
  display: flex;
  width: 1040px;
  flex-direction: column;
}

#faq-main-wrapper .contents-wrapper .title-area{
  display: flex;
  align-items: center;
  gap:24px;
}

#faq-main-wrapper .contents-wrapper .title-area .title{
  font-size: 35px;
  font-weight: bold;
}

#faq-main-wrapper .contents-wrapper .title-area .current{
  border-top: 4px solid;
  padding: 2px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#faq-main-wrapper .contents-wrapper .title-area .current.active{
  border-top: 4px solid var(--Primary);
  color: var(--Primary);
}

.faq-hr {
  height: 2px;           
  width: 100%;            
  background-color: #8e8c8c; 
  border: none;         
  margin: 10px auto;    
  border-radius: 2px;  
}

#faq-main-wrapper .contents-wrapper .question-title{
  text-align: center;
  margin: 20px 0px 30px 0px;
  font-size: 25px;
  font-weight: bold;
}

#faq-main-wrapper .contents-wrapper .question-list{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 15px;
  margin-bottom: 60px;
}

#faq-main-wrapper .contents-wrapper .question-list .question-text{
  padding: 15px;
  margin-right: 100px;
  background-color: rgb(202, 35, 107);
  color: white;
  border-radius: 40px 40px 40px 0px;
}

#faq-main-wrapper .contents-wrapper .question-list .answer-text{
  padding: 15px;
  margin-left: 100px;
  background-color: rgb(214, 214, 214);
  border-radius: 40px 40px 0px 40px;
}