#product-main-wrapper {
  width: 1260px;
  margin: 0 auto;
}


#product-main-wrapper .main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

#product-main-wrapper .main-container .main-title {
  display: flex;
  
  gap: 10px;
  font-size: 40px;
  font-weight: 700;
}

#product-main-wrapper .main-container .main-title.color-title {
  color: var(--Red);
}

#product-main-wrapper .main-container .filter-container {
  display: flex;
  justify-content: space-between; 
  padding-bottom: 20px;
  border-bottom: 2px solid #a0a0a0;
}

.filter-container .category-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-container .category-box select {
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
  
  border-radius: 20px;
  appearance:none;
  background:url(src/assets/images/icon-select-arrow.png) no-repeat right 12px center;
}

.filter-container .search-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-container .search-box input {
  width: 500px;
  height: 38px;
  padding: 0px 20px;

  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #a0a0a0;
}

.filter-container .search-box .search-button {
  width: 40px;
  height: 40px;
  background: url(src/assets/images/icon-magnifier.png) no-repeat;
  background-size: cover;

  cursor: pointer;
}

.filter-container .sort-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-container .sort-box .sort-content-list{
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.sort-content-list .active {
  color: #008CFF;
}
.filter-container .button-box {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.filter-container .button-box .search-button {
  color: #fff;

  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;

  padding: 10px 20px;

  font-size: 20px;
  font-weight: 500;
}

.filter-container .button-box .write-button {
  color: #fff;
  border: 1px solid #008CFF;
  border-radius: 5px;
  background-color: #008CFF;

  padding: 10px 20px;

  font-size: 20px;
  font-weight: 500;
}

.product-list-table {
  display: flex;

  width: 100%;
  flex-wrap: wrap;
  padding: 0;
}

.product-list-table li {
  list-style: none;
}

.product-list-table .product-card {
  display: flex;

  width: 25%;
  padding: 10px 8px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.product-list-table .product-card .product-card-inner {
  width: 100%;
  height: 560px;
}

.product-list-table .product-card .product-card-area{
  display: flex;
  flex-direction: column;
  width: 100%;

  height: 100%;
  gap: 10px;

  cursor: pointer;
}


.product-card-area .product-thumbnail {
  width: 100%;
  height: 299px;

  border: 0.5px solid #949494;
  border-radius: 8px;
}

.product-card-area .information {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 0px 4px;
  gap: 8px;
}

.product-card-area .product-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.product-card-area .product-thumbnail.expired {
  position: relative;
}

.product-card-area .product-thumbnail.expired img {
  opacity: 0.4;
}

.product-card-area .product-thumbnail.expired .img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}


.product-card .product-card-area .information .publisher {
  font-size: 15px;
  font-weight: 700;
}

.product-card .product-card-area .information .title {
  font-size: 18px;
  text-wrap: wrap;
}

.information .price {
  font-size: 16px;
  font-weight: 600;
}

.information .quantity {
  display: flex;
  gap: 8px;
}

.information .deadline-box {
  display: flex;

  gap: 10px;
}

.information .deadline-box .deadline-title.color-title {
  color: #008CFF;
  font-weight: 600;
}

.information .review-area {
  display: flex;
  gap: 5px;

  padding: 0;
}

.information .review-area .review-rating {
  display: flex;
  gap: 3px;
  align-items: center;
}

.information .review-area .review-rating .rating-icon {
  width: 19px;
  height: 19px;
  
  background-image: url("src/assets/images/icon-star.png");
  background-size: cover;

}

.information .review-area .review-count {
  color: #949494;
}


.td.deadline-box .deadline-title.color-title{
  color: #008CFF;
  font-size: 24px;
}

.td.deadline-box .deadline-title.normal{
  font-size: 32px;
}

.no-category-product {
  margin: 0 auto;
  padding-top: 200px;

  font-size: 30px;
  font-weight: 700;
}

