#sidebar-container {
  display: flex;
  flex-direction: column;
  width: 180x;
}

#sidebar-container .button {
  width: 180px;
  height: 40px;
  background-color: rgba(24, 50, 81, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  font-size: 18px;
  font-weight: bold;
}

#sidebar-container .categories {
  display: flex;
  padding: 29px 22px;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.3px;
}

#sidebar-container .categories .title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
}

#sidebar-container .categories .sub-title {
  display: flex;
  margin-bottom: 2px;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

#sidebar-container .categories .sub-text {
  display: flex;
  margin-left: 15px;
  width: fit-content;
}

#sidebar-container .mypage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  padding: 15px 30px;
  background-color: var(--Primary);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
  color: var(--White);
}

#sidebar-container .categories .title:hover,
#sidebar-container .categories .sub-text:hover {
  color: #007bff;
  cursor: pointer;
}

#sidebar-container .categories .active {
  color: #007bff;
  font-weight: bold;
  cursor: default !important;
}
