#result-wrapper {
  background-color: #e8f3ff;
  width: 100vw;
  height: 100vh;
  min-height: 880px;
  display: flex;
  justify-content: center; 
}

#result-wrapper .box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.box-section {
  margin: 100px 0px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
  max-width: 1280px;
  max-height: 600px;
  width: 100%;
}

.box-section .success-icon {
  width: 150px;
  height: 150px;

  background-image: url(src/assets/images/icon-check-blue.png);
  background-size: cover;
}

.box-section .success-content-box {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 20px;
}

.box-section .success-content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 26px;
  
}

.box-section .success-content .title {
  font-weight: 500;
}

.box-section .success-content .content {
  font-weight: 400;
}
