#shopping-cart-main-wrapper {
  margin: 0 auto;
  width: 1260px;
}

#shopping-cart-main-wrapper .shopping-cart-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 50px 15px;
  gap: 20px;

  background-color: #f8f8f8;
}

.shopping-cart-container .shopping-cart-banner {
  display: flex;

  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-container .shopping-cart-banner .title {
  font-size: 40px;
  font-weight: 700;
}

.shopping-cart-container .shopping-cart-banner .progress-box {
  display: flex;
  align-items: center;

  gap: 5px;

  font-size: 20px;
  color: #a6a6a6;
}

.shopping-cart-banner .progress-box .sub-title.active {
  color: #000;
  font-weight: 600;
}

.shopping-cart-container .content-container {
  display: flex;
}

.content-container .cart-content-container {
  flex: 2;
  display: flex;
  flex-direction: column;

  gap: 15px;
  padding: 20px;

  border: solid #fff;
  background-color: #fff;
}

.cart-content-container .select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 20px;

  border-bottom: solid #f3f3f3;
}

.cart-content-container .select-container .select-box {
  display: flex;
  align-items: center;

  gap: 5px;
}

.select-button.active {

  width: 30px;
  height: 30px;

  background-image: url(src/assets/images/icon-check-blue.png);
  background-size: cover;
}

.select-button {
  width: 26px;
  height: 26px;

  border: 1px solid #000;
  border-radius: 50%;
}

.select-container .delete-button {
  width: 100px;
  height: 30px;

  border: solid #000;
  text-align: center;
  line-height: 30px;
}

#shopping-cart-main-wrapper .product-container {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.product-container .product-content-container {
  display: flex;

  padding: 0px 0px 20px 30px;
  border-bottom: 1px solid #f3f3f3;
}

.product-content-container .product-img img {
  width: 150px;
  height: 150px;
}

.product-container .product-content-box {
  display: flex;
  flex-direction: column;

  padding: 20px;
  justify-content: space-between;
}

.product-content-box .product-title {
  font-size: 18px;
  font-weight: 500;

  width: 400px;
}

.product-content-box .product-update-box {
  display: flex;
}

.product-update-box .minus-button {
  width: 20px;
  height: 20px;

  padding: 6px;
  background-image: url(src/assets/images/icon-minus.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #d9d9d9;

  cursor: pointer;
}

.product-update-box .product-quantity {
  width: 60px;

  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.product-update-box .plus-button {
  width: 20px;
  height: 20px;

  padding: 6px;
  background-image: url(src/assets/images/icon-plus.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.product-content-container .price-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  padding-right: 30px;

  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.shopping-cart-container .payment-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0px 20px;

  gap: 30px;
}

.payment-content-container .payment-content-box {
  display: flex;
  flex-direction: column;

  height: 250px;
  padding: 20px;

  border: solid #fff;
  background-color: #fff;
}

.payment-content-box .price-title {
  font-size: 20px;
  font-weight: 600;

  padding-bottom: 18px;
  border-bottom: solid 2px #f3f3f3;
}

.payment-content-box .payment-content{
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.payment-content-box .payment-content .price-box {
  display: flex;
  flex-direction: column;

  padding: 30px 5px;

  gap: 20px;

  border-bottom: 3px solid #000;
}

.payment-content .price-content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.payment-content .price-content .title {
  font-size: 20px;
  font-weight: 600;
}

.payment-content .price-content .title.primary {
  color: #10ADff;
}

.payment-content .price-content .price {
  font-weight: 600;
}


.payment-content-container .payment-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-size: 24px;
  font-weight: 600;
  color: #fff;
  height: 80px;

  background-color: #10ADff;
}
