#my-review-main-wrapper {
  padding-top: 50px;
  display: flex;
  gap:60px;
  width: 1260px;
  margin: 0 auto;
}

#my-review-main-wrapper .contents-wrapper{
  display: flex;
  width: 1040px;
  flex-direction: column;
}

#my-review-main-wrapper .contents-wrapper .title-area{
  display: flex;
  align-items: center;
  gap:24px;
}

#my-review-main-wrapper .contents-wrapper .title-area .title{
  font-size: 35px;
  font-weight: bold;
}

.my-review-hr {
  height: 2px;           
  width: 100%;            
  background-color: #8e8c8c; 
  border: none;         
  margin: 10px auto;    
  border-radius: 2px;  
}

#my-review-main-wrapper .contents-wrapper .banner-box{
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 30px;
}

#my-review-main-wrapper .contents-wrapper .banner-box .button{
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 216, 216);
  font-size: 23px;
  font-weight: bold;
}

#my-review-main-wrapper .contents-wrapper .banner-box .button.active{
  border-bottom: 4px solid var(--Primary);
}

#my-review-main-wrapper .contents-wrapper .review-list-table{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr{
  border: 2px solid gray;
  height: 200px;
  display: flex;
  flex-direction: column;
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr .title{
  padding: 15px 0px;
  padding-left: 20px;
  background-color: gainsboro;
  font-size: 18px;
  border-bottom: 2px solid gray;
  flex: 0 0 auto;
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr .content-box {
  display: flex;
  flex: 1;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr .content-box .content-item {
  display: flex;
  gap: 20px;
  flex: 1; 
  min-width: 0; 
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr .profile-image {
  width: 70px;
  height: 70px;
  background-color: aqua;
  border-radius: 35px;
  flex-shrink: 0;
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr .review-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  flex: 1; 
  word-break: break-word;
  min-width: 0; 
}

#my-review-main-wrapper .contents-wrapper .review-list-table .tr .date {
  width: max-content;
  flex-shrink: 0;
  margin-left: 20px;
}