@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url(src/assets/fonts/Pretendard.ttf);
}

:root {
  --White: rgba(255, 255, 255, 1);
  --Grey: rgba(117, 117, 117, 1);
  --Lightmode-Grey: rgba(64, 64, 64, 1);
  --Lightmode-Grey2: rgba(138, 146, 166, 1);
  --Lightmode-Grey3: rgba(238, 238, 238, 1);
  --Lightmode-Grey4: rgba(160, 160, 160, 1);
  --Primary: rgba(0, 132, 255, 1);
  --Second: rgba(0, 132, 255, 0.10);
  --Cancel: rgba(255, 84, 64, 1);
  --Beige: rgba(247, 247, 247, 1);
  --Red: rgba(255, 52, 33, 1);
  --Black: rgba(0, 0, 0, 1);
}

body {
  font-family: 'Pretendard';
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  width: 300px;
  height: 60px;

  font-size: 24px;
  font-weight: 400;
  text-align: center;

  line-height: 60px;
  cursor: pointer;
}


.button:hover {
  opacity: 0.85;
}

.button.fullwidth {
  box-sizing: border-box;
  width: 100%;
}

.button.stretch{
  height: 100%;
  align-self: stretch;
}

.button.middle {
  box-sizing: border-box;
  width: 144px;
}

.button.small {
  box-sizing: border-box;
  width: 40px;
  height: 20px;
}

.button.disable {
  background-color: var(--Lightmode-Grey3);

  color: var(--Lightmode-Grey2);

  cursor: default;
}

.button.disable:hover {
  opacity: 1;
}

.button.black {
  background-color: var(--Black);

  color: var(--White);
}

.button.primary {
  background-color: var(--Primary);

  color: var(--White);
}

.button.cancel {
  background-color: var(--Cancel);

  color: var(--White);
}

.button.complete {
  background-color: var(--Lightmode-Grey4);

  color: var(--White);
}

.button.ask {
  width: 150px;
  background-color: var(--White);
  border: 1px solid #979797;
  border-radius: 5px;
}

.link {
  color: var(--Lightmode-Grey4);

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  cursor: pointer;
}

.link:hover {
  color: var(--Lightmode-Grey);
  font-weight: 600;
}

.feeling-icon {
  width: 18px;
  height: 18px;

  background-size: 100% 100%;
}

.my-content-chat {
  width: 33px;
  height: 33px;;
  background-image: url(src/assets/images/comment.png);
  background-size: cover;        /* ← 이미지 꽉 채우기 (비율 유지) */
  background-position: center;   /* ← 가운데 정렬 */
  background-repeat: no-repeat;  /* ← 반복 제거 */
}

.my-content-alert {
  width: 33px;
  height: 33px;
  background-image: url(src/assets/images/alarm.png);
  background-size: cover;        /* ← 이미지 꽉 채우기 (비율 유지) */
  background-position: center;   /* ← 가운데 정렬 */
  background-repeat: no-repeat;  /* ← 반복 제거 */
}

.my-content-shopping-cart{
  width: 33px;
  height: 33px;
  background-image: url(src/assets/images/shopping-cart.png);
  background-size: cover;        /* ← 이미지 꽉 채우기 (비율 유지) */
  background-position: center;   /* ← 가운데 정렬 */
  background-repeat: no-repeat;  /* ← 반복 제거 */
}
