#info-community-main-wrapper {
    display: flex;
    flex-direction: column;

    gap: 7px;
}

#info-community-main-wrapper .board-header-container {
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 40px 0 10px;

    font-size: 36px;
    font-weight: 700;
}

#info-community-main-wrapper .board-name {
    display: flex;
    gap: 10px;
}

#info-community-main-wrapper .board-type {
    color: var(--Cancel);
}

#info-community-main-wrapper .board-header-container .category-name {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 20px;
    border-left: 4px solid;
}

#info-community-main-wrapper .board-header-container .divider {
    align-self: stretch;
    border-left: 4px solid var(--Black);
}

#info-community-main-wrapper .board-list-container .divider {
    border: 1px solid var(--Lightmode-Grey2);
}

#info-community-main-wrapper .board-list-container {
    display: flex;
    flex-direction: column;

    border-top: 2px solid var(--Lightmode-Grey);
    border-bottom: 1px solid var(--Lightmode-Grey);

    gap: 24px;
}

#info-community-main-wrapper .board-list-table>.tr {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid var(--Grey);
    height: 50px;
}

#info-community-main-wrapper .board-list-table .th,
#info-community-main-wrapper .board-list-table .td {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    color: var(--Lightmode-Grey);
    font-size: 16px;
    font-weight: 500;
}

#info-community-main-wrapper .board-list-table .th.category,
#info-community-main-wrapper .board-list-table .td.category {
    width: 100px;
}

#info-community-main-wrapper .board-list-table .th.title,
#info-community-main-wrapper .board-list-table .td.title {
    width: 500px;
}

#info-community-main-wrapper .board-list-table .td.title {
    display: flex;
    justify-content: left;

    min-width: 0;

    box-sizing: border-box;
    padding: 0 40px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: pointer;
}

#info-community-main-wrapper .board-list-table .th.nickname,
#info-community-main-wrapper .board-list-table .td.nickname {
    width: 140px;
}

#info-community-main-wrapper .board-list-table .th.liked,
#info-community-main-wrapper .board-list-table .td.liked {
    width: 70px;

    gap: 5px;
}

#info-community-main-wrapper .board-list-table .td.liked.icon {
    width: 10px;
    height: 10px;

    background-size: cover;
    background-image: url(src/assets/images/icon-liked-active.png);
}

#info-community-main-wrapper .board-list-table .th.view,
#info-community-main-wrapper .board-list-table .td.view {
    width: 70px;
}

#info-community-main-wrapper .board-list-table .th.postDate,
#info-community-main-wrapper .board-list-table .td.postDate {
    width: 80px;
}

#info-community-main-wrapper .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

#info-community-main-wrapper .search-container {
    display: flex;
    justify-content: center;

    gap: 10px;

    height: 50px;
}

#info-community-main-wrapper .search-container .search-category {
    border: 2px solid var(--Lightmode-Grey5);
    border-radius: 5px;

    padding: 10px;

    width: 130px;
}

#info-community-main-wrapper .search-container .search-box {
    border: 2px solid var(--Lightmode-Grey5);
    border-radius: 5px;

    padding: 10px;

    width: 490px;
}

#info-community-main-wrapper .search-container .search-button {
    border-radius: 5px;

    background-image: url(src/assets/images/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: var(--Black);

    width: 70px;

    cursor: pointer;
}
